
root { 
    display: block;
}

.accordion{
    font-size: 10pt;
}

.panelGridBorder td, .panelGridBorder tr, .panelGridBorder col{
    border-style: hidden !important;
}

.myLayoutStyleClass .ui-layout-unit-header{
    background: yellow;
    border-style: hidden !important;
}

.myLayoutStyleClass .ui-layout-unit-content{
   background: red;
}

